body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
.app-icon {
  width: .95em;
  height: .95em;
}
pre {
  white-space: pre-wrap;
  padding: 13px 30px 13px 30px;
  background-color: rgb(221, 237, 237);
  border-radius: 15px;
}
.modal-lg {
  max-width: 80%;
}
.scrollable-area {
  height: calc(100vh - 50px - 130px);
  overflow-y: auto;
  padding: 10px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.chat-bubble-assistant {
  background-color: #c1e0ff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
.chat-bubble-assistant::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  border-top: 10px solid transparent;
  border-right: 10px solid #c1e0ff;
  border-bottom: 10px solid transparent;
}
.chat-bubble-user {
  background-color: #c6cdd3;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  float: right;
  margin-bottom: 10px;
  position: relative;
}
.chat-bubble-user::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 10px;
  border-top: 10px solid transparent;
  border-left: 10px solid #c6cdd3;
  border-bottom: 10px solid transparent;
}
/* flashcards */
.flashcard-container {
  width: 100%;
  height: 200px;
  perspective: 1000px;
}
/* flashcard inner */
.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
/* flashcard front */
.flashcard-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/* flashcard back */
.flashcard-back {
  transform: rotateY(180deg);
}
/* flip */
.flip {
  transform: rotateY(180deg);
}
